@use 'reset';
@use 'vars';
@use 'global';
@use 'fonts';

body {
  @extend %opensans-400;
  font-size: 16px;
  color: vars.$color-text;
}

.header {
  padding: 25px 0;
  text-transform: uppercase;
  color: vars.$color-heading; 

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__logo {
    width: 100%;
    text-align: center;
    margin-bottom: 32px;
  }

  &__lang {
    display: flex;
    align-items: center;
  }

  &__lang-link--active {
    @extend %opensans-700;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 30px;
  }

}


.logo {
  display: inline-block;

}

.menu {
  &__list {
    display: flex;
    align-items: center;
    gap: 20px;
  }


  &__link {
    display: inline-block;
    margin-bottom: 2px;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color .3s;
  }

  &__link:hover {
    border-bottom-color: vars.$color-link-hover;
  }
}