@use 'reset';
@use 'vars';
@use 'global';
@use 'fonts';

body {
  @extend %opensans-400;
  font-size: 16px;
  color: vars.$color-text;
}

.header {
  padding: 25px 0;
  text-transform: uppercase;
  color: vars.$color-heading;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__logo {
    width: 100%;
    text-align: center;
    margin-bottom: 32px;
  }

  &__lang {
    display: flex;
    align-items: center;
  }

  &__lang-link--active {
    @extend %opensans-700;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 30px;
  }

}


.logo {
  display: inline-block;

}

.menu {
  &__list {
    display: flex;
    align-items: center;
    gap: 20px;
  }


  &__link {
    display: inline-block;
    margin-bottom: 2px;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color .3s;
  }

  &__link:hover {
    border-bottom-color: vars.$color-link-hover;
  }
}

.footer {
  background-color: vars.$color-bg-dark;
  color: vars.$color-text-inverse;

  &__menu {
    padding: 55px 0 60px;
    border-bottom: 1px solid vars.$color-secondary;
    margin-bottom: 50px;
  }

  &__menu-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__menu-item {
    border-bottom: 1px solid rgba(vars.$color-text-inverse, 0.35);
    margin-bottom: 1px;
  }

  &__menu-logo {
    border-bottom: none;
  }



  &__elements {
    display: flex;
    margin-bottom: 50px;
    gap: 0 83px;
  }


  &__element-title {
    opacity: .5;
    margin-bottom: 20px;
  }

  &__element-address {
    width: 160px;
  }


  &__element-item {
    line-height: 1.55;
    margin-bottom: 5px;
  }


  &__form {
    width: 250px;
    position: relative;
  }

  &__form-input {
    display: flex;
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 1px 30px 5px 0;
    border-bottom: 1px solid vars.$color-secondary;
    color: vars.$color-text-inverse;

    &::placeholder {
      color: vars.$color-text-inverse;
    }

    &:focus {
      outline: none;
      border-bottom-color: vars.$color-text-inverse;
    }
  }

  &__form-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    position: absolute;
    top: 1px;
    right: 0;
    cursor: pointer;
  }

  &__social-list {
    display: flex;
    gap: 0 10px;
  }

  &__bottom {
    background-color: vars.$color-heading;
  }

  &__bottom-inner {
    display: flex;
    padding: 7px 0 9px;
    font-size: 11px;
    line-height: 1.3;
  }

  &__bottom-copy {
    margin-left: 76px;
  }

  &__bottom-list {
    display: flex;
    gap: 0 37px;
    margin-left: auto;
    margin-right: 76px;
  }

  &__bottom-item+.footer__bottom-item {
    position: relative;

    &::before {
      content: '|';
      position: absolute;
      left: -21px;
    }
  }

}

.promo {
  background-color: vars.$color-secondary;
  padding: 7px 9px;
  text-transform: uppercase;
  font-size: 11px;
  text-align: center;
}

.top {
  min-height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;

  &__inner {
    display: flex;
    flex-direction: column;
    padding: 262px 0 50px;
    margin-right: auto;
    max-width: 520px;
    text-transform: uppercase;
  }

  &__title {
    @extend%lora-400;
    font-size: 75px;
    line-height: 1.2;
    color: vars.$color-heading;
    margin-bottom: 33px;
  }

  &__link {
    display: inline-block;
    align-self: start;
    background-color: vars.$color-heading;
    border-radius: 3px;
    color: vars.$color-text-inverse;
    padding: 12px 38px;
  }
}

.new-collection {
  &__inner {
    padding: 150px 0 90px;
    display: flex;
  }

  &__content {
    padding: 75px 42px 0 39px;
    max-width: 498px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: vars.$color-heading;
    font-size: 45px;
    @extend %lora-400;
    margin-bottom: 23px;
    text-transform: uppercase;
  }

  &__text {
    margin-bottom: 30px;
    font-size: 20px;
  }

  &__link {
    border: 1px solid vars.$color-heading;
    color: vars.$color-heading;
    padding: 10px 65px;
    margin-top: auto;
    align-self: start;
  }

  &__img {
    padding-top: 75px;
  }

  &__box {
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    position: relative;
  }

  &__box-img {
    position: absolute;
    top: 0;
    max-width: fit-content;
    left: -75px;
  }

  &__caption {
    margin-top: auto;
    margin-bottom: 68px;
    width: 289px;
    text-transform: uppercase;
    font-size: 20px;
  }
}

.join-us {
  position: relative;
  min-height: 613px;
  background-color: vars.$color-bg-dark;
  overflow: hidden;

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(50% - 40px);
    height: 100%;
  }

  &__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__box {
    display: flex;
    flex-direction: column;
    max-width: 580px;
    margin-left: auto;
    padding: 94px 0;
    color: vars.$color-text-inverse;
  }

  &__title {
    @extend %lora-400;
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__text {
    @extend %lora-400;
    font-size: 30px;
    margin-bottom: 40px;
  }

  &__input {
    display: block;
    width: 100%;
    border: none;
    background-color: transparent;
    padding-bottom: 10px;
    border-bottom: 1px solid vars.$color-text-inverse;
    @extend %opensans-400;
    color: vars.$color-text-inverse;
    outline: none;

    &::placeholder {
      color: vars.$color-text-inverse;
      font-size: 20px;
    }
  }

  &__input+.join-us__input {
    margin-top: 25px;
  }

  &__btn {
    border: none;
    background-color: vars.$color-heading;
    border-radius: 3px;
    display: block;
    width: 100%;
    color: vars.$color-text-inverse;
    padding: 12px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 40px 0 20px;
  }

  &__caption {
    font-size: 11px;
    margin-left: 30px;
  }
}