</div>
<footer class="footer">
    <div class="container">
      <nav class="footer__menu">
        <ul class="footer__menu-list">
          <li class="footer__menu-item">
            <a href="#" class="footer__menu-link">Catalog</a>
          </li>
          <li class="footer__menu-item">
            <a href="#" class="footer__menu-link">Collections</a>
          </li>
          <li class="footer__menu-item">
            <a href="#" class="footer__menu-link">About</a>
          </li>
          <li class="footer__menu-item footer__menu-logo">
            <a class="logo footer__logo" href="#">
              <img class="logo_img" src="images/logo-white.svg" alt="logo">
            </a>
          </li>
          <li class="footer__menu-item">
            <a href="#" class="footer__menu-link">Book your appointment </a>
          </li>
          <li class="footer__menu-item">
            <a href="#" class="footer__menu-link">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="footer__elements">
        <div class="footer__element">
          <p class="footer__element-title">Location</p>
          <address class="footer__element-address">
            Ukraine, Kyiv,<br>
            st. Voitenko, 67
          </address>
        </div>
        <div class="footer__element">
          <p class="footer__element-title">Phones</p>
          <ul class="footer__element-list">
            <li class="footer__element-item">
              <a class="footer__element-link" href="tel:+380676765324">+380 (67) 676 53 24</a>
            </li>
            <li class="footer__element-item">
              <a class="footer__element-link" href="tel:+380678846542">+380 (67) 884 65 42</a>
            </li>
          </ul>
        </div>
        <div class="footer__element">
          <p class="footer__element-title">Emails</p>
          <ul class="footer__element-list">
            <li class="footer__element-item">
              <a class="footer__element-link" href="mailto:office@boss.com">office@boss.com</a>
            </li>
            </li>
            <li class="footer__element-item">
              <a class="footer__element-link" href="mailto:sales@boss.com">sales@boss.com</a>
            </li>
          </ul>
        </div>
        <div class="footer__element">
          <p class="footer__element-title">Sign-up for our newsletter</p>
          <form class="footer__form" action="#">
            <input class="footer__form-input" type="text" placeholder="Enter your email">
            <button class="footer__form-btn">
              <svg width="15" height="11">
                <use xlink:href="images/sprite.svg#env"></use>
              </svg>
            </button>
          </form>
        </div>
        <div class="footer__element">
          <p class="footer__element-title">Social</p>
          <ul class="footer__social-list">
            <li class="footer__social-item">
              <a class="footer__social-link" href="#">
                <svg width="24" height="24">
                  <use xlink:href="images/sprite.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="footer__social-item">
              <a class="footer__social-link" href="#">
                <svg width="24" height="24">
                  <use xlink:href="images/sprite.svg#instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-inner">
        <p class="footer__bottom-copy">
          ©Boss. All rights reserved.
        </p>
        <ul class="footer__bottom-list">
          <li class="footer__bottom-item">
            <a class="footer__bottom-link" href="#">Privacy Policy</a>
          </li>
          <li class="footer__bottom-item">
            <a class="footer__bottom-link" href="#">Refund policy</a>
          </li>
          <li class="footer__bottom-item">
            <a class="footer__bottom-link" href="#">Terms of Service</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</body>

</html>